[Desktop Entry]
Name=Body reSwitcher
Comment=Help poor kids get their bodies back
Exec=/usr/share/bodyreswitcher/bodyreswitcher
Icon=/usr/share/bodyreswitcher/icon.png
Terminal=false
Type=Application
Categories=Game
StartupNotify=false
